.git
/web/.next
/web/node_modules
/node_modules
npm-debug.log
.env*
.idea
.DS_Store
public/uploads
/backend/.cache
/backend/.venv
/backend/tools/whisper/cache
/backend/tools/whisper/pip-cache
/backend/tools/whisper/openai-models
/backend/tools/ffmpeg/bin/ffmpeg
/backend/tmp
