.next
node_modules
out
coverage
.venv
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.tsbuildinfo
.env
.env.*
!.env.example
/public/uploads/recordings/
/tools/whisper/bin/*
/tools/whisper/models/*
/tools/whisper/openai-models/*
/tools/whisper/cache/*
/tools/whisper/pip-cache/*
/tools/ffmpeg/bin/*
!/tools/whisper/bin/.gitkeep
!/tools/whisper/models/.gitkeep
!/tools/whisper/openai-models/.gitkeep
!/tools/whisper/cache/.gitkeep
!/tools/whisper/pip-cache/.gitkeep
!/tools/ffmpeg/bin/.gitkeep
